#main{
  display: flex;
  height: 125vh;
}

.leftPort{
  background-color: #dbcbbb;
  width: 400px;
  flex-shrink: 0;
  padding: 30px;
  text-align: center;
}

.rightPort{
  background-color: #bca49a;
  width: 100%;
  flex-grow: 1;
  padding: 4rem;
}

.imageProfile{
  width: 150px;
  height: 150px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
  padding: 1rem;
  margin-bottom: 30px;
  position: relative;
}

.imageProfile img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.titleProt h2{
  color: #523326;
}
p{
  margin-bottom: 15px;
  font-weight: 500;
}

#root {
  width: 100%;
}
